
<h1>Minha Tela</h1>

<p>Essa é a action referente ao HomeController action Minha Tela</p>

<img  style{ width="200px;"} src="~/logo.png" />

<table class="table table-striped">

    <thead>

        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
        </tr>

    </thead>
    <tbody>

        <tr>
            <td>1</td>
            <td>Gabriel</td>
            <td>21</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Geraldo</td>
            <td>56</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Xico</td>
            <td>45</td>
        </tr>

    </tbody>

</table>